<ul>
    <li>
        Title: <%= movie.title %>
    </li>
    <li>
        Director: <%= movie.director %>
    </li>
    <li>
        Year: <%= movie.release_date %>
    </li>
    <li>
        Genre: <%= movie.genre %>
    </li>
    <li>
        Plot: <%= movie.plot %>
    </li>
</ul>

