<h1><%= movie.title %> (<%= movie.year %>)<br></h1>
<p>
    <% if(movie.director) %><b>Director:</b> <%= movie.director %><br> <% end %>
    <% if(movie.rated != "N/A" ) %><b>Rated:</b> <%= movie.rated %><br><% end %>
    <% if(movie.runtime != 0 ) %><b>Runtime:</b> <%= movie.runtime %><br><% end %>
    <% if(movie.genre != "N/A" ) %><b>Genre:</b> <%= movie.genre %><br><% end %> 
    <% if(movie.plot != "N/A" ) %><b>Plot:</b> <%= movie.plot %><br><% end %>
    <% if(movie.actors != "N/A" ) %><b>Starring:</b> <%= movie.actors %><br><% end %>
    <% if(movie.imdbRating != "N/A" ) %><b>IMDB Rating:</b> <%= movie.imdbRating %><br><% end %>
    <% if(movie.imdb_id != "N/A" ) %><%= image_tag(movie.poster, style: 'height:25%;width:auto;') %><br><% end %>
</p>

