<% if @user == current_user %>
    <h1>Welcome <%= current_user.to_s %></h1>
<% else %>
    <h1><%= @user.to_s %>'s Profile</h1>
<% end %>

<h2>Reviewed Movies:</h2>
<% if @user == current_user && @user.movies.empty? %>
    <h2> You haven't reviewed any movies yet, create one <%= link_to "here", new_user_review_path(@user) %> now!</h2>
<% end %>

<% @user.movies.each do |movie| %>
    <h3><%= link_to movie.title, movie_path(movie.id) %> (<%= movie.year %>)</h3>
    <% movie.reviews.each do |review| %>
        <% if review.user_id == @user.id %>
            <h4><BLOCKQUOTE><%= review.content %></BLOCKQUOTE></h4>
        <% end %>
    <% end %>
<% end %>