<div class="navbar">
    <%= link_to "Home", '/' %>
    <%= link_to "Movies", movies_path %>
    <%= link_to "Friends", '/' %>
    <% if logged_in?%>
        <%= link_to "Profile", '/' %>
        <%= link_to "Log out", logout_path, method: "delete" %>
    <% else %>
        <%=link_to "Sign Up", signup_path %> |
        <%=link_to "Log In", login_path %>
    <% end %>
</div>